.react-live-dark pre.prism-code {
  background: black !important;
}

body {
  background: #19181f !important;
  line-height: 1.3;
}

h1, h2, h3, h4, h5 {
  background: linear-gradient(142deg, rgba(33,176,159,1) 27%, rgba(109,213,237,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}

code {
  color: #ff6ad5;
}

pre > code {
  color: inherit;
}

p {
  font-size: 1.2em !important;
}

html,
body,
#root
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
